/*
    DOCUMENTO
*/
* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/*
    CATEGORIES
*/
.categories {
    padding: 10px;
    margin: 10px;
    border: black 1px solid;
    border-radius: 10px;
}

.categories .opcoes {
    background-color: rgb(236, 235, 235);
    padding: 15px;
    max-width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
  }

.categories .combinacaoCategories {
  margin: 10px;
  display: inline-block;
}

.categories .combinacaoCategories input {
  display: none;
  color: blue;
}

.categories .combinacaoCategories label {
    color: black;
}

.categories .combinacaoCategories input:checked + label {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
}

.categories .produtos {
    max-width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

.categories .produtos .texto {
    white-space: normal;
}

/*
    EM ALTA
*/

.classeEMALTA{
    display: inline-block;
}

.textoEMALTA{
    text-align: center;
    margin-left: 0.5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*
    CARDs
*/

/* Regras gerais do card */
.card {
    margin-left: 0.5%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}

.card:hover {
    border: 2px solid green;
}

.card .cardIMG {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    max-height: 130px;
    max-width: 80%;
    transition: 0.5s;
}

.card:hover img {
    max-height: 148px;
    max-width: 100%;
}

.card .texto h1 {
    color: rgb(65, 65, 65);
    font-size: 12px;
}

.card .preco h2 {
    max-height: 20px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    color: black;
}

.card:hover .preco h2 {
    color: green;
}

.card .texto {
    padding: 10px;
}

/*
    PROMOCOES
*/

.classePROMOCOES{
    display: inline-block;
}

/*
    NAV MENU
*/
.nav {
    display: flex;
    align-items: center;
    color: rgb(82, 82, 82);
    font-weight: 1000;
}

.identificador {
    margin: 5px;
    max-width: 12%;
    display: inline-block;
}

/*
    BARRA DE PESQUISA
*/
.input-box {
    display: inline-block;
    width: 80%;
    background: aliceblue;
    margin: 10px;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    padding: 5px 20px;
}

input {
    width: 10%;
    flex: 1;
    height: 30px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: rgb(58, 120, 255);
}

button {
    background: none;
    border: none;
    outline: none;
}

button i {
    margin: 2px;
    padding: 5px;
    border-radius: 30px;
    background-color: rgb(150, 206, 255);
    width: 32px;
    text-align: center;
    color: palevioletred;
    font-size: 22px;
    cursor: pointer;
}

::placeholder {
    color: rgb(58, 120, 255);
}

#gosearch i.fa-x {
    display: none;
}


/* Redimencionameto para telas com largura entre 350px e 600px */
@media (max-width: 350px) {
    .classeEMALTA{
        width: 100%;
    }
    
    .card {
        width: 100%;
    }
    
    .card .texto {
        height: 90px;
    }

    .card .preco h2 {
        font-size: 18px;
    }

    .identificador {
        margin: 5px;
        max-width: 17%;
        display: inline-block;
    }

    .input-box {
        width: 80%;
    }
}

/* Redimencionameto para telas com largura entre 350px e 600px */
@media (min-width: 350px) and (max-width: 600px) {
    .classeEMALTA{
        width: 66%;
    }
    
    .card {
        width: 48%;
    }
    
    .card .texto {
        height: 90px;
    }

    .card .preco h2 {
        font-size: 16px;
    }

    .input-box {
        width: 80%;
    }
}

/* Redimencionameto para telas com largura entre 600px e 1200px */
@media (min-width: 600px) and (max-width: 1200px) {
    .classeEMALTA{
        width: 75%;
    }
    
    .card {
        width: 23.6%;
    }

    .card .texto {
        height: 50px;
    }

    .card .preco h2 {
        font-size: 18px;
    }
}

/* Redimencionameto para telas com largura maior ou igual a 1200px */
@media (min-width: 1200px) {
    .classeEMALTA{
        width: 80%;
    }
    
    .card {
        width: 18.8%;
    }

    .card .texto {
        height: 55px;
    }

    .card .preco h2 {
        font-size: 18px;
    }
}